{namespace yag=Tx_Yag_ViewHelpers}
{namespace extlist=Tx_PtExtlist_ViewHelpers}
{namespace ptx=Tx_PtExtbase_ViewHelpers}

<extlist:comment>
<!--  
Template for rendering an album.

Here is a list of objects / variables that can be accessed in this template:

Tx_PtExtlist_Domain_Model_List_ListData listData               List of items in album

@package YAG
@author Daniel Lienert <daniel@lienert.cc>
-->
</extlist:comment>

<f:for each="{config.themeConfig.CSSFiles}" as="file">
    <link rel="stylesheet" type="text/css" href="{yag:Resource.File(path:file)}" media="all">
</f:for>


<f:for each="{filterBoxCollection}" as="filterBox">
    <f:render partial="EXT:yag_theme_library/Resources/Private/Partials/FilterBox.html" arguments="{filterbox:filterBox}"/>
</f:for>



<table class="table table-striped">
    <thead>
        <tr>
            <td>#</td>
            <td></td>
            <td>Item</td>
            <td>Details</td>
        </tr>
    </thead>
    <tbody>
        <f:for each="{listData}" key="rowIndex" as="listRow">
            <f:alias map="{image: listRow.image.value}">
                <tr>
                    <td>{image.uid}</td>
                    <td><f:render partial="{config.itemListConfig.imageThumbPartial}" arguments="{config: config, image: image, pager: pager, pagerCollection:pagerCollection}" /></td>
                    <td>
                        <dl class="dl-horizontal">
                            <dt>Title</dt>
                            <dd>{image.title}&nbsp;</dd>

                            <dt>Description</dt>
                            <dd>{image.description}&nbsp;</dd>

                            <dt>Author</dt>
                            <dd>{listRow.artist}&nbsp;</dd>

                            <dt>Capture Date</dt>
                            <dd><ptx:format.timestamp format="%d.%m.%Y %H:%M" timestamp="{listRow.captureDate.value}"/></dd>

                            <dt>Gallery</dt>
                            <dd>{listRow.galleryName}&nbsp;</dd>

                            <dt>Album</dt>
                            <dd>{listRow.albumName}&nbsp;</dd>

                            <dt>Original</dt>
                            <dd><a target="_blank" href="{image.sourceUri}">{image.width}px x {image.height}px, <ptx:format.fileSize>{image.fileSize}</ptx:format.fileSize></a></dd>
                        </dl>

                    </td>
                    <td>
                        <dl class="dl-horizontal">
                            <dt>Camera</dt>
                            <dd>{listRow.camera}&nbsp;</dd>

                            <dt>Lens</dt>
                            <dd>{listRow.lens}&nbsp;
                                <f:if condition="{listRow.focalLength.value}"> @ {listRow.focalLength.value}mm</f:if>
                            </dd>

                            <dt>Shutter Speed</dt>
                            <dd>{listRow.shutterSpeed}&nbsp;</dd>

                            <dt>Aperture</dt>
                            <dd>{listRow.aperture}&nbsp;</dd>

                            <dt>ISO</dt>
                            <dd>{listRow.iso}&nbsp;</dd>

                            <dt>Tags</dt>
                            <dd>
                                <f:if condition="{listRow.tagsCombined.value}">
                                    <f:for each="{ptx:explode(string: listRow.tagsCombined.value, delimiter:',')}" as="tag">
                                        <f:link.action action="submitFilter" arguments="{extlist:namespace.GPArray(nameSpace:'itemList{config.contextIdentifier}.filters.metaFilterBox.tagCloud' arguments:'filterValues:{tag}')}">{tag}</f:link.action>
                                    </f:for>
                                </f:if>
                            </dd>
                        </dl>
                    </td>
                </tr>
            </f:alias>
        </f:for>
    </tbody>
</table>


<div style="clear:both;">&nbsp;</div>

<f:if condition="{config.settings.itemList.showPager}">
    <div class="tx-yag-pager">
        <f:render partial="{config.itemListConfig.pagerPartial}" arguments="{action: listAction, controller: 'ItemList', pager: pager, pagerCollection: pagerCollection, itemsText: '{f:translate(key:\'tx_yag_domain_model_album.items\')}'}" />
    </div>
</f:if>
