{namespace yag=Tx_Yag_ViewHelpers}
{namespace extlist=Tx_PtExtlist_ViewHelpers}

<extlist:comment>
<!--  
Template for rendering an album.

Here is a list of objects / variables that can be accessed in this template:

Tx_PtExtlist_Domain_Model_List_ListData listData               List of items in album

@package YAG
@author Daniel Lienert <daniel@lienert.cc>
-->
</extlist:comment>


<f:render partial="EXT:yag_theme_library/Resources/Private/Partials/FilterBox.html" arguments="{filterbox:filterBoxCollection.metaFilterBox}"/>
<br />

<div id="yag-{config.contextIdentifier}" class="yag-list-wrap yag-gallery" data-yag-gallery-settings='{yag:Javascript.JsonSettings(tsPath:"javaScriptSettings")}'>
	<div class="tx-yag-items">
		<f:for each="{listData}" key="rowIndex" as="listRow">
			<div class="tx-yag-thumb-outerframe tx-yag-item-thumb-outerframe" style="width:{config.itemListConfig.columnRelativeWidth}%">
				<f:render partial="{config.itemListConfig.imageThumbPartial}" arguments="{config: config, image: listRow.image.value, rowIndex: listRow.specialValues.absoluteRowIndex, pager: pager, pagerCollection:pagerCollection}" />
			</div>
		</f:for>
	</div>
</div>

<div style="clear:both;">&nbsp;</div>

<f:if condition="{config.settings.itemList.showPager}">
    <div class="tx-yag-pager">
        <f:render partial="{config.itemListConfig.pagerPartial}" arguments="{action: listAction, controller: 'ItemList', pager: pager, pagerCollection: pagerCollection, itemsText: '{f:translate(key:\'tx_yag_domain_model_album.items\')}'}" />
    </div>
</f:if>




<f:if condition="{config.settings.includeJSInTemplate}">
    <f:for each="{config.settings.templateIncludeJS}" as="file">
        <script src="{yag:Resource.File(path:file)}" type="text/javascript"></script>
    </f:for>
</f:if>

<f:if condition="{config.settings.includeCSSInTemplate}">
    <f:for each="{config.settings.templateIncludeCSS}" as="file">
        <link rel="stylesheet" type="text/css" href="{yag:Resource.File(path:file)}" media="all">
    </f:for>
</f:if>
