.tx-yag-filter {
    display: block;
    float:left;
    width: 33%;
}

/* Filters | TagClud */
.tx-ptextlist-filter-tagCloud-list li {
    float: left;
    list-style: none outside none;
    margin-right: 6px;
    margin-top: 3px;
}

.tx-yag-thumb-innerframe img, .tx-yag-image img {
    padding: 0;
    border-radius: 3px;
}

.tx-yag-library-imagecolumn {
	width:200px;
}

/* Details */
.dl-horizontal dd {
    margin-left: 130px;
}

.dl-horizontal dt {
    float: left;
    clear: left;
    width: 120px;
    text-align: right;
}